<div class="main-menu  d-none d-lg-block">
    <nav>
        <ul id="navigation">
            @if (!User.Identity.IsAuthenticated)
            {

                <li><a href="/Account/login">Login</a></li>

                <li><a href="/Account/Register">Register</a></li>
            }
            @if (User.Identity.IsAuthenticated == true)

            {

                <li><a asp-action="getallcategory" asp-controller="category">Home</a></li>
                <li><a asp-action="GetAllProducts" asp-controller="Product">shop</a></li>
               
                @if (User.IsInRole("Admin") == true)
                {
                    <li><a href="/Account/RegisteredCustomers">Registered</a></li>
                    <li><a asp-action="addnewproduct" asp-controller="Product">Add Product</a></li>
                    <li><a asp-action="addnewcategory" asp-controller="Category">Add Category</a></li>
                }
                <li><a href="/Account/signout">log out</a></li>
                @* <li><a href="/product/GetAllproducts">All Products</a></li> *@
                <li>
                    <a href="#">Details</a>
                    <ul class="submenu">
                        <li><a href="/shipment/index">Shipment Details</a></li>
                        <li><a href="/payment/index">Payment Details</a></li>
                       


                </li>



            }
        </ul>
    </nav>
</div>
                        </div>